<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Interface requête">
  <meta name="author" content="Camille Rubio">

  <title> Interface requête de la bdd Halieutique </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/mathjs@5.2.0/dist/math.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>

  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=ApDG_wOrGkG7fYk4Dy6tiBtmCDERKcMIwtfX5D52Q-6rgubT7TQ9RtoxaEursW5e' async defer></script>

  <style>
  input[type=text] {
    width: 300px;
  }
  input {
    padding: 6px;
  }
  body, html, input {
    font-family: sans-serif;
    font-size: 11pt;

  }
  form {
    margin: 20px 0;
  }
  </style>

</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="../">#</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Les zones de pêche
          </button>
          <div class="dropdown-menu">
            <form name="fTest" onsubmit="return false;">

              <div class="form-check">
                <input class="form-check-input" type="radio" name="source" id="source8" value="8" onclick="readXml();">
                <label class="form-check-label" for="source8">
                Bastia-Cap Corse
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="source" id="source9" value="9" onclick="readXml();">
                <label class="form-check-label" for="source9">
                Bonifacio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="source" id="source10" value="10" onclick="readXml();">
                <label class="form-check-label" for="source10">
                Balagne
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="source" id="source11" value="11" onclick="readXml();">
                <label class="form-check-label" for="source11">
                Ajaccio
                </label>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="doc">Documentation BDD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Les zones de pêche</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Graphes
            </button>
            <div class="dropdown-menu">
              <div id="plot"></div>
            </div>
        </li>
      </ul>
    </nav>

    <div id='myMap' lass="container-fluid" style="margin-top:80px width: 800px; height: 800px; position: 'relative'; ">
    </div>
    <div id="plot"></div>
    <script  type="text/javascript" src="map.js"></script>
  </body>
  </html>
